body {
    font-family: 'Teko', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background: url('../images/mainbackground.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #000;
    font-size: 20px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 5px 20px;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-left li {
    margin-right: 15px;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-right li {
    margin-left: 15px;
}

.navbar-right a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar-right a:hover {
    color: #ffcc00;
}

.github-logo {
    width: 25px;
    height: 25px;
    transition: transform 0.3s ease;
}

.github-logo:hover {
    transform: scale(1.2);
}

.hero-header {
    padding: 50px 0;
    text-align: center;
    color: #ffffff;
}

.hero-header h3 {
    font-size: 1.8rem;
    color: #ffffff;
}
.dynamic-role {
    font-size: 1.5rem;
    color: #ffcc00;
    font-weight: bold;
    text-transform: uppercase;
    border-right: 2px solid #ffcc00;
    animation: blink-cursor 0.4s steps(2) infinite;
    display: inline-block;
    margin: 5px 0;
}

@keyframes blink-cursor {
    0% {
        border-color: transparent;
    }
    50% {
        border-color: #ffcc00;
    }
    100% {
        border-color: transparent;
    }
}

#about {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 20px;
    text-align: left;
}

.about-content {
    display: flex;
    justify-content: flex;
    width: 100%;
    max-width: 1200px;
    gap: 20px;
}

.about-image img {
    width: 200px;
    height: 400px;
    object-fit: cover;
    border-radius: 8px;
}

.about-text {
    max-width: 700px;
    line-height: 1.6;
}

.about-text h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #ffffff;
}

.about-text p {
    font-size: 1rem;
    color: #ffffff;
    margin-bottom: 15px;
}
